/* Needs to exist to render on page  */
nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
nav a {
    color: white;
    display: inline-block;
    font-size: 1.2em;
    text-decoration: none;
  }